[submodule "submodules/rank-lib"]
	path = submodules/rank-lib
	url = https://github.com/LotusiaStewardship/rank-lib
[submodule "utils/rank-lib"]
	path = utils/rank-lib
	url = https://github.com/LotusiaStewardship/rank-lib
	branch = master
[submodule "utils/bitcore-lib-xpi"]
	path = utils/bitcore-lib-xpi
	url = https://github.com/LotusiaStewardship/bitcore-lib-xpi.git
	branch = main
