/**
 * Copyright 2025 The Lotusia Stewardship
 * Github: https://github.com/LotusiaStewardship
 * License: MIT
 */
@media (prefers-color-scheme: dark) {
  :root {
    /** Colors taken from: https://tailwindcss.com/docs/colors */
    /** Positive sentiment range from green to red */
    --sentiment-100: rgb(5 223 114);
    --sentiment-90: rgb(5 223 114);
    --sentiment-80: rgb(154 230 0);
    --sentiment-70: rgb(253 199 0);
    --sentiment-60: rgb(255 185 0);
    --sentiment-50: rgb(255 137 4);
    /** Negative sentiment values (all red) */
    --sentiment-40: rgb(255 100 103);
    --sentiment-30: rgb(255 100 103);
    --sentiment-20: rgb(255 100 103);
    --sentiment-10: rgb(255 100 103);
    --sentiment-0: rgb(255 100 103);
    /** Neutral sentiment values */
    --sentiment-neutral: rgb(184, 193, 219);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    /** Colors taken from: https://tailwindcss.com/docs/colors */
    /** Positive sentiment range from green to red */
    --sentiment-100: rgb(0 201 80);
    --sentiment-90: rgb(0 201 80);
    --sentiment-80: rgb(124 207 0);
    --sentiment-70: rgb(240 177 0);
    --sentiment-60: rgb(254 154 0);
    --sentiment-50: rgb(255 105 0);
    /** Negative sentiment values (all red) */
    --sentiment-40: rgb(251 44 54);
    --sentiment-30: rgb(251 44 54);
    --sentiment-20: rgb(251 44 54);
    --sentiment-10: rgb(251 44 54);
    --sentiment-0: rgb(251 44 54);
    /** Neutral sentiment values */
    --sentiment-neutral: rgb(119, 125, 142);
  }
}
/** Hide posts */
.hidden {
  display: none !important;
  opacity: 0;
}
/** Upvote button */
.upvote-button[aria-label*='Upvoted'] {
  & > div {
    color: var(--sentiment-100) !important;
  }
}
/** Upvote button hover */
.upvote-button:hover {
  & > div {
    color: var(--sentiment-100) !important;
  }
  & div:has(+ svg) {
    background-color: rgba(0, 186, 124, 0.1);
    color: var(--sentiment-100);
  }
}
/** Downvote button */
.downvote-button[aria-label*='Downvoted'] {
  & > div {
    color: var(--sentiment-0) !important;
  }
}
/** Downvote button hover */
.downvote-button:hover {
  & > div {
    color: var(--sentiment-0) !important;
  }
  & div:has(+ svg) {
    background-color: rgba(186, 37, 0, 0.1);
    color: var(--sentiment-0);
  }
}
/** Blurred post */
.blurred {
  /** child div of .blurred */
  & > div {
    overflow: hidden;
    pointer-events: none;
    border: 1px inherit solid;
    opacity: 75%;
    filter: blur(0.35rem);
    & div:has(> img),
    div[data-testid='videoPlayer'] {
      filter: blur(1.15rem) grayscale(100%);
    }
  }
  /** child button of .blurred */
  & > button {
    width: 90%;
    height: auto;
    position: absolute;
    opacity: 100%;
    left: 5%;
    top: 30%;
    margin-left: 0%;
    margin-top: 0%;
    padding: 2%;
    /*background-color: #6b0080;*/
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    &:hover {
      cursor: pointer;
    }
    & > span {
      font-weight: 400;
      font-size: 15px;
      font-family:
        TwitterChirp, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
}
/** Light mode blurred post */
.blurred-color {
  @media (prefers-color-scheme: light) {
    & > div {
      background-color: white;
    }
    & > button {
      box-shadow: 0rem 0rem 0.5rem 0.125rem #919cb9;
      background-color: white;
      border: 1px solid #2d313c;
      & > span {
        color: #2d313c;
      }
    }
  }
}
/** Dark mode blurred post */
.dark\:blurred-color {
  @media (prefers-color-scheme: dark) {
    & > div {
      background-color: black;
    }
    & > button {
      box-shadow: 0rem 0rem 0.5rem 0.125rem #191b20;
      background-color: black;
      border: 1px solid #9aa5c7;
      & > span {
        color: #9aa5c7;
      }
    }
  }
}

/** Post avatars */
.avatar-reputation {
  &::after {
    left: 1.5%;
    top: 1.5%;
    height: 24%;
    width: 24%;
    outline: 0.1rem solid;
  }
}
/** Popup avatars */
.popup-avatar-reputation {
  &::after {
    left: 1%;
    top: 1%;
    height: 20%;
    width: 20%;
    outline: 0.1rem solid;
  }
}
/** Quote tweet avatars */
.quote-tweet-avatar-reputation {
  &::after {
    left: 0%;
    top: 0%;
    height: 30%;
    width: 30%;
    outline: 0.15rem solid;
  }
}
/** Notification avatars */
.notification-avatar-reputation {
  &::after {
    left: 0%;
    top: 0%;
    height: 28%;
    width: 28%;
    outline: 0.1rem solid;
  }
}
/** Profile avatars */
.profile-avatar-reputation {
  &::after {
    left: 6%;
    top: 6%;
    height: 15%;
    width: 15%;
    outline: 0.15rem solid;
  }
}

@media (prefers-color-scheme: dark) {
  div[class*='avatar-reputation']::after {
    outline-color: black;
  }
}

@media (prefers-color-scheme: light) {
  div[class*='avatar-reputation']::after {
    outline-color: white;
  }
}

/** Avatar reputation badge colors */
div[class*='avatar-reputation'] {
  position: relative;
  &::after {
    border-radius: 50%;
    content: '';
    position: absolute;
  }

  &[data-vote-ratio='100'] {
    &::after {
      background: var(--sentiment-100);
    }
  }

  &[data-vote-ratio='90'] {
    &::after {
      background: var(--sentiment-90);
    }
  }

  &[data-vote-ratio='80'] {
    &::after {
      background: var(--sentiment-80);
    }
  }

  &[data-vote-ratio='70'] {
    &::after {
      background: var(--sentiment-70);
    }
  }

  &[data-vote-ratio='60'] {
    &::after {
      background: var(--sentiment-60);
    }
  }

  &[data-vote-ratio='50'] {
    &::after {
      background: var(--sentiment-50);
    }
  }

  &[data-vote-ratio='40'] {
    &::after {
      background: var(--sentiment-40);
    }
  }

  &[data-vote-ratio='30'] {
    &::after {
      background: var(--sentiment-30);
    }
  }

  &[data-vote-ratio='20'] {
    &::after {
      background: var(--sentiment-20);
    }
  }

  &[data-vote-ratio='10'] {
    &::after {
      background: var(--sentiment-10);
    }
  }

  &[data-vote-ratio='0'] {
    &::after {
      background: var(--sentiment-0);
    }
  }

  &[data-vote-ratio='neutral'] {
    &::after {
      background: var(--sentiment-neutral);
    }
  }
}