.hidden {
  display: none !important;
  opacity: 0;
}

.blurred {
  overflow: hidden !important;
  pointer-events: none !important;
  background-color: black !important;
  opacity: 75%;
  filter: blur(0.35rem);
  & div:has(> img),
  div[data-testid='videoPlayer'] {
    filter: blur(1.15rem) grayscale(100%) !important;
  }
}

.blurred-overlay {
  width: 80%;
  height: auto;
  position: absolute;
  left: 10%;
  top: 30%;
  margin-left: 0% !important;
  margin-top: 0% !important;
  padding: 2%;
  /*background-color: #6b0080;*/
  background-color: black !important;
  border-radius: 24px;
  box-shadow: 0rem 0rem 0.5rem 0.125rem #272a32 !important;
  border: 1px solid #9aa5c7;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.blurred-overlay-text {
  font-weight: 400;
  font-size: 15px;
  color: #9aa5c7;
  font-family: TwitterChirp, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.profile-neutral-reputation {
  position: relative;
  &::after {
    background: #9aa5c7;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    position: absolute;
  }
}

.profile-positive-reputation {
  position: relative;
  &::after {
    background: green;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    position: absolute;
  }
}

.profile-negative-reputation {
  position: relative !important;
  &::after {
    background: red;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    position: absolute;
  }
}
